@media screen and (min-width: 576px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  .produk-img{
    padding-top: 3em;
    padding-left: 4em;
  }
  .hasil-cari{
    max-width: 97%;
  }
  .hasil-cari span {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0;
    margin-left: 12em;
  }
  .modal-img{
    width: 10em;
    height: auto;
  }
  .ini figure img{
    width: 15em;
    height: 13em;
  }
  .katlog{
    margin-top: -10em;
  }
  .banner{
    background-image: url("/img/banner.jpg");
    color: white;
    height: 30em !important;
  }
}

@media screen and (max-width: 500px) {
  .kat{
    display: none;
  }
  .hasil-cari{
    max-width: 94%;
  }
  .tabel-keranjang img {
    width: 55px !important;
    height: auto;
  }
  .tabel-keranjang input {
      font-size: 1em !important;
      font-weight: bold;
      padding-left: 0.5em;
      border: 1px solid green;
      color: #ff4500;
  }
  .modal-img{
    width: 2em;
    height: auto;
  }
  .ini figure img{
    height: auto;
  }
  .display-4{
    font-size: 1em;
    color: red;
  }
  .nama-nama{
    padding:0;
    margin:0;
  }
  .isi-banner{
    background-color: white;
  }
  .lead{
     color:red;
     font-size: 0.5em;
  }
  .kk{
    background-color: wheat;
  }
  .gg p{
    background-color: white;
    padding: 0px;
    margin: 0;
  }
}
.banner{
  background-image: url("/img/banner.jpg");
  color:white;
}

.banner h1{
  font-weight: bold;
  color: red;
}
.belum-ada{
  padding-top:10em;
  min-height: 35em;
}
.katalog-warpper{
  min-height: 37em;
}
.cart-num{
  font-size: 1.2em;
}
.tombol-cart{
  color: white;
}
.page-link{
  color: white;
  background-color: #06701d;
}
.page-link:hover{
  color: white;
  background-color: #02390e;
}
.page-item.active .page-link{
  color: white;
  background-color: red;
}
.page-item.disabled .page-link{
  color: white;
  background-color: gray
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.admin-list-produk-warp{
  min-height: 31.2em;
}
.admin_produk_img img{
  width: 4em;
  height: 4em;
}
.form-produk{
  top:0;
  max-height: 40em;
}
/*.footer {
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  /*line-height: 60px; /* Vertically center the text there */
  /*background-color: #f5f5f5;*/
}*/
.login-warp{
  min-height: 37.5em;
}
.register-warp{
  min-height: 37.5em;
}
.banner{
  height: 15em;
}
.carol{
  max-height: 20em;
  padding: 0;
  margin-bottom: 3em;
}

.kategori .btn{
  color: white;
  background-color: green;
}
.kategori .btn:hover{
  color:white;
  background-color: #0a470e;
}

.kategori, .katalog-home{
  padding: 0;
  margin-top: 3em;
  margin-bottom: 3em;
}
.carousel i{
  color: black;
}
.carol img{
  height: 20em;
}
.content{
  margin-top: 5em;
}
.kat-title{
  border: 1px solid green;
}
.kat-title p{
  display : block;
  margin: 6px auto;
}
.katalog {
  margin-top: 1em;
}
.produk{
  margin-bottom: 2.5em;
  /*width: 13em;*/
  height: 25em;
}
.produk img{
  max-height: 14em;
  min-height: 14em;
}
.warp-produk{
  padding-top: 10px;
}
.jumlah-beli{
  margin-top: 10px;
}
.katalog-warp{
  margin-top: 2em;
}
.katalog .card-body{
  background-color: #dbf3c2;
}
.katalog .card-text{
  color:#605a12;
  font-weight: bold;
}
.katalog .btn{
  color: #650c00;
  font-weight: bold;
  background-color: white;
  border: 0.3em solid #71f48a;
}
.katalog .btn:hover{
  color: white;
  background-color: #0a400f;
}
.judul-produk{
  color: #ff0000;
  font-weight: bold;
}
.produk-detail h1{
  color:red;
  font-weight: bold;
}
.produk-detail .card-body{
  background-color: #efffe4;
}
.produk-detail p,span{
  color:#605a12;
  font-weight: bold;
}
.produk-detail .btn{
  color: white;
  font-weight: bold;
  background-color: #693313;
  border: 0.1em solid #616161;
}
.produk-detail .btn:hover{
  color: white;
  background-color: #0a400f;
}

.produk-img img{
  border: 2px solid green;
  max-width: 27.5em;
  min-width: 27.5em;
  max-height: 23.2em;
  min-height: 23.2em;
}
.produk-img .card img{
  padding: 3px;
  width: 114px;
  height: 80px;
}

.gambar-warpper{
  min-height: 27em;
  margin-bottom: 1em;
}

.caribox input{
  width: 30em !important;
}
.nomor{
  color: red;
}
.hasil-cari{
  padding-top:0.4em;
  background-color: white;
  position: fixed;
  z-index: 1000;
  top:3.7em;
  border-bottom: 0.1em solid green;
}
.kat{
  top:3em;
  padding: 0;
}
.tempat-kat{
  position: fixed;
  max-width: 15%;
}
.tabel-keranjang{
  height: 100px;
}
.tabel-keranjang img{
  width: 150px;
  height: auto;
}
.tabel-keranjang input{
  font-size: 2em;
  font-weight: bold;
  padding-left: 0.5em;
  border: 1px solid green;
  color: #ff4500;
}
.profile-warp{
  min-height: 35em;
  max-height: 35em;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}
.profile-warp, .tombol-ubah-warp{
    background-color: #f8f9fa;
}
.profile-warp h1{
  text-decoration: underline;
  font-weight: bold;
  color: #986006;
}
.profile-warp td{
  border:none;
}
.sps {
  padding: 1em .5em;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  transition: all 0.25s ease;
  width: 100%;
}

.sps--abv {
  background-color: transparent;
  color: #000;
}

.sps--blw {
  background-color: #333 !important;
  color: #fff;
}

.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}

figure {
	overflow: hidden;
}

.inilo figure img{
  min-height: 18em;
}

.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.detail-home-produk{
  min-height: 7em;
  max-height: 7em;
}

footer{
  margin-top: 18em;
  color: white;
}
footer a{
  color: #bfffff;
}
footer a:hover{
  color: white;
}

.footer-bottom{
  background: #0e571c;
  padding: 1em;
}
.footer-top{
  background: #0e571c;
}
.footer-middle{
   background: #04380e;
  padding-top: 1em;
  color: white;
}
